.secondary-font {
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.bold-secondary-font {
    font-family: "Gowun Batang", serif;
    font-weight: 700;
    font-style: normal;
} 
.primary-font {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.bold-primary-font {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(30, 0, 255);
}
.title-link{
    text-decoration: none;


}
body{
    background-color: rgb(188, 253, 255);
    text-align: center;
}

.contdiv{
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
    padding: 10px;
    margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
      
}
.pill{
    color: white;
}
#buttonscont{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
justify-content: center;
background-color: blue;
width: 100%;
color: white; 
}


  