@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body{
    background: linear-gradient(0deg, rgba(0,52,255,1) 0%, rgba(0,194,255,1) 100%);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-repeat: no-repeat;
    margin: 0;
    color:aliceblue;
}
.item{
    backdrop-filter: blur(50px) ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding: 10px;
    margin-left: 10%;
    border-radius: 25px;
    -webkit-box-shadow: 5px 5px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 17px 0px rgba(0,0,0,0.75);
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}
.itemimg{
    border-radius: 25px;
    height: 300px;
    margin: 10px;
}
.text{
    margin: 10px;
}
h3{
    font-size: 50px;
}
p{
    font-family:'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 20px;
}

h1{
    color: white;
    font-size: 100px;
}
.headercont{
    background-image: url(./assets/images/pexels-photo-952356.jpeg);
    height: 40vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0%;
    padding: 0%;
    position: relative;

}
.blurbg{
        backdrop-filter: blur(10px)
}
.roundcorners{
    border-radius: 25px;
}
.w80{
    max-width: 80%;
    margin-left: 10%;
}
#header{
    position: absolute;
    width: 100%;
    bottom: 50%;

}

.navbartext{
    color:black;
    text-decoration: none;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    font-weight: 500;
    font-size: 30px;
}
li{
    list-style-type: none;
}
.navbarcont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0%;
    height: 10vh;
    align-items: center;
    background-color: lightblue;
    margin: 0;
}
.headerbtn{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    position: relative;
    top: 10px;
}
#footer{
    width: 100%;
    display:flex;
    justify-content: space-between;
    background-color: #004b7e;
    align-items: center;
}
.footeritem{
margin: 10px;
color: aliceblue;
}
.footerlogo{
height: 50px;
}
.compname{
    text-align: end;
    margin-right: 70px;
}
.link{
    color: white;
    text-decoration: none;
}
.logosm{
    height: 50px;
    border-radius: 100%;
}
.largephoto{
    height: auto;
    width: 100px;
}
#footer{
    margin-top: 40px;
}
#item2{
flex-direction: column;
}
#mainlist{
    text-shadow: 1px 1px 2px black;
}
@media (max-width:750px) {
    .item{
        display: block;
    }
    p{
        font-size: 15px;
    }
    h1{
        font-size: 30px;
    }
    h3{
        font-size: 20px;
    }
    a{
        font-size: 15px;
    }
    li{
        font-size: 15px;
    }
    img{
        height: 50px;
    }
}